<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}{{.PageTitleSuffix}}</title>
    <link rel="stylesheet" href="/blaze-styles/base.css" />
    <link rel="stylesheet" href="/blaze-styles/markdown.css" />
    <link rel="stylesheet" href="/blaze-styles/syntax.css" />
    <script src="/blaze-scripts/explorer.js" defer></script>
    <script src="/blaze-scripts/copy-code.js" defer></script>
    {{ if .hasKatex }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css"
      integrity="sha384-WcoG4HRXMzYzfCgiyfrySxx90XSl2rxY5mnVY5TwtWE6KLrArNKn0T/mOgNL0Mmi"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.js"
      integrity="sha384-J+9dG2KMoiR9hqcFao0IBLwxt6zpcyN68IgwzsCSkbreXUjmNVRhPFTssqdSGjwQ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/contrib/auto-render.min.js"
      integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
        ]
      });"
    ></script>
    {{ end }}
  </head>
  <body>
    <input type="checkbox" id="nav-toggle" hidden />
    <label for="nav-toggle" id="nav-btn">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </label>
    <aside id="left-sidebar">
      <div id="logo">
        <a href="/">
          <img src="/blaze-assets/logo.svg" alt="Logo" width="40" height="40" />
          <span>{{.PageTitle}}</span>
        </a>
      </div>
      <div id="explorer">{{.Explorer}}</div>
    </aside>
    <main>
      <article>{{.Content}}</article>
    </main>
    <aside id="right-sidebar">
      <div>{{.GraphView}}</div>
      <div>{{.TableOfContent}}</div>
      <div>{{.Backlinks}}</div>
    </aside>
    <footer>
      <p>Powered by <a href="https://github.com/artsbymat/blaze">Blaze</a></p>
    </footer>
    {{ if .hasMermaid }}
    <script type="module">
      import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11.12.2/dist/mermaid.esm.min.mjs";

      const prefersDarkScheme = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;

      if (prefersDarkScheme) {
        mermaid.initialize({
          theme: "dark",
        });
      } else {
        mermaid.initialize({
          theme: "base",
          themeVariables: {
            lineColor: "#f82929",
          },
        });
      }
    </script>
    {{ end }}
  </body>
</html>
