<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}{{.PageTitleSuffix}}</title>
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/markdown.css" />
  </head>
  <body>
    <aside id="left-sidebar">
      <div id="logo">
        <a href="/">
          <img src="/logo.svg" alt="Logo" width="40" height="40" />
          <span>{{.PageTitle}}</span>
        </a>
      </div>
      <div id="explorer">{{.Explorer}}</div>
    </aside>
    <main>
      <article>{{.Content}}</article>
    </main>
    <aside id="right-sidebar">
      <div>{{.GraphView}}</div>
      <div>{{.TableOfContent}}</div>
      <div>{{.Backlinks}}</div>
    </aside>
    <footer>
      <p>Powered by <a href="https://github.com/artsbymat/blaze">Blaze</a></p>
    </footer>
  </body>
</html>
