<!DOCTYPE html>
<html lang="{{.Locale}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}{{.PageTitleSuffix}}</title>
    <link rel="stylesheet" href="/blaze-styles/base.css" />
    <link rel="stylesheet" href="/blaze-styles/markdown.css" />
    <script src="/blaze-scripts/explorer.js" defer></script>
  </head>
  <body>
    <input type="checkbox" id="nav-toggle" hidden />
    <label for="nav-toggle" id="nav-btn">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </label>
    <aside id="left-sidebar">
      <div id="logo">
        <a href="/">
          <img src="/blaze-assets/logo.svg" alt="Logo" width="40" height="40" />
          <span>{{.PageTitle}}</span>
        </a>
      </div>
      <div id="explorer">{{.Explorer}}</div>
    </aside>
    <main>
      <article>{{.Content}}</article>
    </main>
    <aside id="right-sidebar">
      <div>{{.GraphView}}</div>
      <div>{{.TableOfContent}}</div>
      <div>{{.Backlinks}}</div>
    </aside>
    <footer>
      <p>Powered by <a href="https://github.com/artsbymat/blaze">Blaze</a></p>
    </footer>
  </body>
</html>
