article h1,
article h2,
article h3,
article h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
}

article h5,
article h6 {
  margin: 1.5rem 0 1rem 0;
  line-height: 1.25;
  font-size: 1em;
}

article p {
  margin: 1rem 0;
}

article a {
  text-decoration: none;
  color: var(--link);
}

article a.external::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  background-color: currentColor;
  background-repeat: no-repeat;
  -webkit-mask: url("/blaze-assets/external-link-indicator.svg") no-repeat
    center / contain;
  mask: url("/blaze-assets/external-link-indicator.svg") no-repeat center /
    contain;
}

article a:hover,
article a:focus,
article a:active {
  text-decoration: underline;
}

article ul,
article ol {
  margin: 1rem 0;
}

article li {
  margin: 0.5rem 0;
}

article ul,
article ol {
  padding-left: 1.5rem;
}

article ol {
  list-style-type: decimal;
}

article ol ol {
  list-style-type: lower-alpha;
}

article ol ol ol {
  list-style-type: lower-roman;
}

article ul {
  list-style-type: disc;
}

article ul ul {
  list-style-type: circle;
}

article ul ul ul {
  list-style-type: square;
}

article img {
  max-width: 100%;
}

article table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  display: block;
  overflow-x: auto;
}

article th,
article td {
  border: 1px solid var(--border);
  padding: 0.5rem;
}

article th {
  font-weight: 600;
}

article .katex {
  font-size: 1.2em;
}
